<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Change Password</title>
</head>
<body>

<h1>Change Password</h1>

<form method="POST" action="{% url "account.views.change_password" %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div>{{ error|escape }}</div><br/>
    {% endfor %}
    {% endif %}

    <input type="text" placeholder="Username" name="username"><br/>
    {% if form.username.errors %}
    {% for error in form.username.errors %}
    <div>{{ error|escape }}</div><br/>
    {% endfor %}
    {% endif %}

    <input type="password" placeholder="Password" name="password"><br/>
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    <div>{{ error|escape }}</div><br/>
    {% endfor %}
    {% endif %}

    <input type="password" placeholder="New Password" name="password1"><br/>
    {% if form.password1.errors %}
    {% for error in form.password.errors %}
    <div>{{ error|escape }}</div><br/>
    {% endfor %}
    {% endif %}

    <input type="password" placeholder="Confirm New Password" name="password2"><br/>
    {% if form.password2.errors %}
    {% for error in form.password.errors %}
    <div>{{ error|escape }}</div><br/>
    {% endfor %}
    {% endif %}

    <input type="submit" value="submit" />
</form>

</body>
</html>