<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Log In</title>
</head>
<body>

<h1>Log In</h1>
<p><a href="{% url account.views.requestRecovery %}">Forgot password?</a></p>

<form method="POST" action="{% url account.views.authenticateUser %}">
    {% csrf_token %}

    {% for error in errors %}
    <div>{{ error|escape }}</div>
    {% endfor %}

    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="submit" />
</form>

</body>
</html>