<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Register</title>
</head>
<body>

<h1>Register</h1>

<form method="POST" action="{% url "account.views.register" %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div>{{ error|escape }}</div>
    {% endfor %}
    {% endif %}

    <input type="text" placeholder="Username" name="username">
    {% if form.username.errors %}
    {% for error in form.username.errors %}
    <div>{{ error|escape }}</div>
    {% endfor %}
    {% endif %}

    <input type="text" placeholder="Email" name="email">
    {% if form.email.errors %}
    {% for error in form.email.errors %}
    <div>{{ error|escape }}</div>
    {% endfor %}
    {% endif %}

    <input type="password" placeholder="Password" name="password1">
    {% if form.password1.errors %}
    {% for error in form.password1.errors %}
    <div>{{ error|escape }}</div>
    {% endfor %}
    {% endif %}

    <input type="password" placeholder="Confirm Password" name="password2">
    {% if form.password2.errors %}
    {% for error in form.password2.errors %}
    <div>{{ error|escape }}</div>
    {% endfor %}
    {% endif %}

    <input type="submit" value="submit" />
</form>

</body>
</html>